td,
th {
  border: 1px solid #c6c6c6;
}

.wrap {
  max-height: 150px;
  overflow-y: auto;
}

.odd,
th {
  background: #eee;
  border: 1px solid #c6c6c6;
}

.content-select select::-ms-expand {
  display: none;
}

.content-select {
  max-width: 450px;
  position: relative;
}

.unidadgrupo {
  max-width: 250px;
  position: relative;
}

#dateinput,
#dateinput2,
.content-select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 40px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  color: #999;
  font-family: "Quicksand", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

#dateinput,
#dateinput2 {
  max-width: 150px;
}

.textunidad {
  font-size: 1em;
  color: #eca816;
}

.textnum {
  font-size: 1em;
  color: #eca816;
  /*color: rgb(10, 103, 243);*/
}

.blanco {
  color: hsl(0, 64%, 98%);
}

img {
  margin-left: auto;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

progress[value] {
  width: 30px;
  height: 5px;
  /*
    -webkit-appearance: none;
    -moz-appearance: none;
   appearance: none;*/
  /* Quitamos el borde que aparece en Firefox */
  color: #18e705;
}

progress::-moz-progress-bar {
  background: #18e705;
}

progress::-webkit-progress-value {
  background: #18e705;
}
